In [1]:
#Домашняя работа 7
-colab/jupyter: https://colab.research.google.com/drive/1j4XdGIU__NYPVpv74vQa9HUOAkxsgUez?usp=sharing

--task1  (lesson7)
-- sqlite3: Сделать тестовый проект с БД (sqlite3, project name: task1_7). 
-- В таблицу table1 записать 1000 строк с случайными значениями (3 колонки, тип int) от 0 до 1000.
-- Далее построить гистаграмму распределения этих трех колонко

-task2  (lesson7)
-- oracle: https://leetcode.com/problems/duplicate-emails/
        
-task3  (lesson7)
-- oracle: https://leetcode.com/problems/employees-earning-more-than-their-managers/

-task4  (lesson7)
-- oracle: https://leetcode.com/problems/rank-scores/
        
--task5  (lesson7)
-- oracle: https://leetcode.com/problems/combine-two-tables/

In [12]:
import sqlite3
conn = sqlite3.connect('task1_7.db')  
c = conn.cursor()

In [13]:
https://sandbox.neo4j.com/

SyntaxError: invalid syntax (<ipython-input-13-8db4c9702338>, line 1)

In [14]:
import psycopg2
import pandas as pd

#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student15'
DB_USER_PASSWORD = 'student15_password'
DB_NAME = 'sql_ex_for_student15'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [15]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px

In [16]:

request="CREATE TABLE table1 (id INTEGER PRIMARY KEY NOT NULL, x int NOT NULL,y int NOT NULL, z int NOT NULL);"
c.execute(request)
tables = c.fetchall()


# и решала все задачи в dbeaver
CREATE TABLE table1 (
  id INTEGER PRIMARY KEY NOT NULL, 
  x int NOT NULL,
  y int NOT NULL,
  z int NOT NULL
);
  INSERT INTO table1
    WITH RECURSIVE
      cnt( id, x, y, z) AS (
      VALUES(1 , 1+(1000-1)*RANDom(),1+(1000-1)*RANDom(),1+(1000-1)*RANDom()) UNION ALL 
      SELECT id+1,1+(1000-1)*RANDom(),1+(1000-1)*RANDom(),1+(1000-1)*RANDom() FROM cnt WHERE id<1000)
    select * from cnt;

OperationalError: table table1 already exists

In [5]:
request="  INSERT INTO table1 WITH RECURSIVE cnt( id, x, y, z) AS (VALUES(1 , 1+(1000-1)*RANDom(),1+(1000-1)*RANDom(),1+(1000-1)*RANDom()) UNION ALL     SELECT id+1,1+(1000-1)*RANDom(),1+(1000-1)*RANDom(),1+(1000-1)*RANDom() FROM cnt WHERE id<1000) select * from cnt;"
         
c.execute(request)
tables = c.fetchall()

In [6]:
request="select * from table1;"
c.execute(request)
tables = c.fetchall()

In [11]:
df = pd.read_sql_query(request, conn)
#fig = px.hist(x=df.x.to_list(), y=df.y.to_list(),z=df.z.to_list(), labels={'x':'x', 'y':'y', 'z':'z'})

fig = px.bar(x=df.x.to_list(), y=df.y.to_list(), labels={'x':'x', 'y':'y'})

N=1000, h=1000; 
x=rnorm(N,0,1) 
fig=histogram(bin,x)
fig.show()

SyntaxError: can't assign to literal (<ipython-input-11-f046da20299e>, line 6)

In [ ]:
--task2  (lesson7)
-- oracle: https://leetcode.com/problems/duplicate-emails/
select Email from Person 
group by Email
having count(Email)>=2

In [ ]:
--task3  (lesson7)
-- oracle: https://leetcode.com/problems/employees-earning-more-than-their-managers/
select Name as Employee from Employee e where e.ManagerId in (select ID from Employee) and
 e.Salary> (select  ee.Salary from Employee ee where e.ManagerId=ee.Id);

In [ ]:
--task4  (lesson7)
-- oracle: https://leetcode.com/problems/rank-scores/
select Score, Dense_rank() over(order by Score DESC) 'Rank' from Scores

In [ ]:
--task5  (lesson7)
-- oracle: https://leetcode.com/problems/combine-two-tables/
select FirstName, LastName, City, State from Person p left join Address a on p.PersonId=a.PersonId;